<div class="grid">
    <div class="col-12 md:col-12">
        <h3>Resumen General</h3>
	</div>

    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Temperatura</span>
                    <div class="text-900 font-medium text-xl">
                        {{ liveData.payloadDecoded.temperature_1 }}
                    </div>
                </div>
                <div *ngIf="liveData != null && liveData.payloadDecoded != null && liveData.payloadDecoded.temperature_1 < 60" class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-check-circle text-blue-500 text-xl"></i>
                </div>
                <div *ngIf="liveData == null || liveData.payloadDecoded == null || liveData.payloadDecoded.temperature_1 >= 60" class="flex align-items-center justify-content-center bg-red-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-exclamation-triangle text-red-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">
                {{ liveData.payloadDecoded.temperature_1_week }}
            </span>
            <span class="text-500">promedio en la última semana</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Humedad Relativa</span>
                    <div class="text-900 font-medium text-xl">0</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-red-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-exclamation-triangle text-red-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">0 </span>
            <span class="text-500">promedio en la última semana</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Luminosidad</span>
                    <div class="text-900 font-medium text-xl">350</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-check-circle text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">349.8 </span>
            <span class="text-500">promedio en la última semana</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Presión Barométrica</span>
                    <div class="text-900 font-medium text-xl">713.3</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-check-circle text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">713.12 </span>
            <span class="text-500">promedio en la última semana</span>
        </div>
    </div>
</div>

